* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Geneva, Tahoma,
        sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #d1bead;
    --secondary: #5169a7;
    --terciary: #d09d72;
    --cuaternary: black;
}

header {
    background-color: var(--secondary);
    color: var(--cuaternary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    padding: 1rem;
}

h1 {
    font-size: large;
}

/*Selector combinado de elementos*/
nav,
p {
    display: flex;
    justify-content: right;
    margin-left: 1rem;
}

nav :nth-child(2) {
    font-weight: bold;
}

nav p:hover {
    cursor: pointer;
}

div {
    background-color: var(--terciary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

main {
    background-color: var(--primary);
    padding: 1rem;
    height: 30rem;
}

main div {
    display: flex;
    flex: 1;
    background-color: var(--primary);
    justify-content: space-between;
}

main div + article::before {
    margin-top: 1.5rem;
    content: '';
    display: block;
    border-bottom: 1px solid var(--secondary);
}

article {
    align-items: right;
    text-align: right;
    font-size: xx-large;
    height: 7rem;
}

/* Selector combinado de elementos*/
footer div {
    display: flex;
    background-color: var(--secondary);
    justify-content: center;
}

/*Selector de atributo*/
img[src='./WEEK2/128px-Valid_CSS.svg.png'] {
    display: block;
    margin: 0 auto;
}
